# source files
src/
docs/

#config files
.prettierignore
.prettierrc
vite.config.ts
.eslintrc
tsup.config.ts
tsconfig*.json
.commitlintrc.json

# git files
.gitignore
.gitattributes

# github config
.github/

# test file
tests/

# pre-commit hooks
.husky/

# lock file
pnpm-lock.yaml
